/* #F22E62
#4BA69D
#1a1a1a */

@font-face {
    font-family: 'Planet Kosmos';
    src: url('/fonts/PLANK.TTF');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    background-image: url(/img/opti1.png);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

li{
    list-style: none;
}

div p {
    align-content: center;
    margin: auto;
}

ul{
    display: flex;
    align-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}

.header h1 {
    font-family: 'Planet Kosmos', Arial, sans-serif;
    font-size: 5rem;
    letter-spacing: 5px;
    color: #4BA69D;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 0px;
    
}
.card-list {
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 0px;
    width: 80%;
    margin: auto;
}

.card {
    height: 100%;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    background-color: transparent;
    color: #FFFFFF;
    padding: 0px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card:hover {
    border-color: #F22E62;
    box-shadow: 0 0 15px #F22E62;
}

.card-image {
    max-width: 100%; 
    height: auto; 
    border-radius: 0.6rem;

}

.icon {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}

footer {
    margin-top: auto;
    color: #FFF;
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
}


@media (max-width: 610px) {

    
    ul{
        display: flex;
    }
   

    .card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        
        width: 80%; /* O el ancho que prefieras para las tarjetas en móviles */
    }

    .titulito{
        font-size:4rem !important;

    }
}

@media (max-width: 768px) {
    .titulito{
        font-size:2.5rem !important;

    }
}